@import url(estilos_alertas/alerta1.css);
@import url(estilos_alertas/alerta2.css);
@import url(estilos_alertas/alerta3.css);
@import url(estilos_alertas/alerta4.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind+Siliguri:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --color_fondo:aqua;
    --color1:#66D7D1;
    --color2: #55b4e7;
    --color3: #f26ab5;
    --color4: #f5cf54;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.botcomponentes{
    display: flex;
    width: 700px;
    height: 40px;
    margin: 10px auto;
    background-color: white;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    border:solid var(--color4);
    border-radius: 15px;
}

.comp{
    display: block;
    height: 30px;
    width: 150px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: var(--color4);
    border: solid var(--color4);
    border-radius: 15px;
    font-family: "Inter", sans-serif;
}

.comp:hover{
    background-color: var(--color4);
    color: white;
}

.comp:active{
    background-color: orange;
    color: black;
}


/* ----------------------------------------------------------------------------- */

.alerta{
    display: block;
    width: 400px;
    border: solid black;
    background-color: #031633;
    color: #084298;
    margin: 10px auto;
    padding: 10px;
    font-size: 15px;
    border: solid #084298;
    font-family: "Hind Siliguri", sans-serif;
    border-radius: 5px;
}

/* --------------------------------------------------------------------------------- */
.alerta--negrita{
    display: block;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: #032830;
    color: #087990;
    border-left: solid 4px #087990;
    font-family: "Hind Siliguri", sans-serif;

}

/* -------------------------------------------------------------------------------------- */

.alerta--linea{
    display: block;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: #2c0b0e;
    color: #842029;
    border: solid #842029;
    border-radius: 5px;
    font-family: "Hind Siliguri", sans-serif;
}

.alerta__link{
    color: #842029;
}

.alerta__linea{
    border: solid 1px #842029;
 }

 /* ---------------------------------------------------------------------------------- */
 .alerta--logo{
    display: flex;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: solid black;
    justify-content:space-around;
    align-items: center;
    background-color: #332701;
    border: solid #997404;
    color: #997404;
    font-family: "Hind Siliguri", sans-serif;
    border-radius: 5px;
}

.material-symbols-outlined{
    margin-right: 10px;
}