@import url(estilos_alertas/alerta1.css);
@import url(estilos_alertas/alerta2.css);
@import url(estilos_alertas/alerta3.css);
@import url(estilos_alertas/alerta4.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind+Siliguri:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --color_fondo:aqua;
    --color1:#66D7D1;
    --color2: #55b4e7;
    --color3: #f26ab5;
    --color4: #f5cf54;
    --blanco: white;
    --negro: black;
    --naranja: orange;
    --ancho_alertas:400px;
    --esquina_redondeada:15px;
    --fondo_alert1:#031633;
    --color_tex_alert1:#084298;
    --fondo_alert2:#032830;
    --color_tex_aler2:#087990;
    --forno_aler3:#2c0b0e;
    --color_tex_alert3:#842029;
    --fondo_aler4:#332701;
    --color_tex_aler4:#997404;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.botcomponentes{
    display: flex;
    width: 700px;
    height: 40px;
    margin: 10px auto;
    background-color: var(--blanco);
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    border:solid var(--color4);
    border-radius: var(--esquina_redondeada);
}

.comp{
    display: block;
    height: 30px;
    width: 150px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: var(--color4);
    border: solid var(--color4);
    border-radius: var(--esquina_redondeada);
    font-family: "Inter", sans-serif;
}

.comp:hover{
    background-color: var(--color4);
    color: var(--blanco);
}

.comp:active{
    background-color: var(--naranja);
    color: var(--negro);
}


/* ----------------------------------------------------------------------------- */

.alerta{
    display: block;
    width: var(--ancho_alertas);
    border: solid var(--negro);
    background-color: var(--fondo_alert1);
    color: var(--color_tex_alert1);
    margin: 10px auto;
    padding: 10px;
    font-size: 15px;
    border: solid var(--color_tex_alert1);
    font-family: "Hind Siliguri", sans-serif;
    border-radius: var(--esquina_redondeada);
}

/* --------------------------------------------------------------------------------- */
.alerta--negrita{
    display: block;
    width: var(--ancho_alertas);
    margin: 10px auto;
    padding: 10px;
    background-color: var(--fondo_alert2);
    color: var(--color_tex_aler2);
    border-left: solid 5px var(--color_tex_aler2);
    font-family: "Hind Siliguri", sans-serif;
    border-radius: 0;
}

/* -------------------------------------------------------------------------------------- */

.alerta--linea{
    display: block;
    width: var(--ancho_alertas);
    margin: 10px auto;
    padding: 10px;
    background-color: var(--forno_aler3);
    color: var(--color_tex_alert3);
    border: solid var(--color_tex_alert3);
    border-radius: var(--esquina_redondeada);
    font-family: "Hind Siliguri", sans-serif;
}

.alerta__link{
    color: var(--color_tex_alert3);
}

.alerta__linea{
    border: solid 1px var(--color_tex_alert3);
 }

 /* ---------------------------------------------------------------------------------- */
 .alerta--logo{
    display: flex;
    width: var(--ancho_alertas);
    margin: 10px auto;
    padding: 10px;
    border: solid var(--negro);
    justify-content:space-around;
    align-items: center;
    background-color: var(--fondo_aler4);
    border: solid var(--color_tex_aler4);
    color: var(--color_tex_aler4);
    font-family: "Hind Siliguri", sans-serif;
    border-radius: var(--esquina_redondeada);
}

.material-symbols-outlined{
    margin-right: 10px;
}