@import url(estilos_barra/barra1.css);
@import url(estilos_barra/barra2.css);
@import url(estilos_barra/barra3.css);
@import url(estilos_barra/barra4.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_fondo:aqua;
    --color1:#66D7D1;
    --color2: #55b4e7;
    --color3: #f26ab5;
    --color4: #f5cf54;
    --blanco:white;
    --negro:black;
    --esquina_redondeada:15px;
    --naranja:orange;
    --rojo:red;
}

.botcomponentes{
    display: flex;
    width: 700px;
    height: 40px;
    margin: 10px auto;
    background-color: var(--blanco);
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    border:solid var(--color4);
    border-radius: var(--esquina_redondeada);
}

.comp{
    display: block;
    height: 30px;
    width: 150px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: var(--color4);
    border: solid var(--color4);
    border-radius: var(--esquina_redondeada);
    font-family: "Inter", sans-serif;
}

.comp:hover{
    background-color: var(--color4);
    color: var(--blanco);
}

.comp:active{
    background-color: var(--naranja);
    color: var(--negro);
}

/* -------------------------------------------------------------------------- */

.menu{
    width: 600px;
    margin: 10px auto;
    background-color: var(--color_fondo);
}

.menu__barrahorizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu__barrahorizontal .menu__opciones .menu__opcion{
    display: block;
    padding: 15px 20px;
    color: var(--rojo);
    text-decoration: none;
}

.menu__opciones:hover{
    background-color: var(--negro);
    color: var(--blanco);
}

.menu__barravertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    /* background-color: black; */
}

.menu__barrahorizontal .menu__opciones:hover .menu__barravertical{
    display: block;
}

.menu_subopcion:hover{
    background-color: var(--rojo);
    color: var(--blanco);
}

.menu_subopcion{
    display: block;
    color: var(--blanco);
    padding: 15px 15px;
    text-decoration: none;
    background-color: var(--negro);
}

/* --------------------------------------------------------------------------------- */

.menu--vertical{
    width: 150px;
    margin: 10px auto;
    height: 200px;
    background-color: var(--color_fondo);
}

.menu__barrahorizontal--vertical{
    list-style: none;
    display: block;
}

.menu__barrahorizontal--vertical .menu__opciones--lateral .menu__opcion--vertical{
    display: block;
    padding: 15px 20px;
    color: var(--rojo);
    text-decoration: none;
    
}


.menu__opciones--lateral:hover{
    color: var(--blanco);
}

.menu__barravertical--lateral{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;

}

.menu__barrahorizontal--vertical .menu__opciones--lateral:hover .menu__barravertical--lateral{
    display: block;
    /* position: relative;
    left: 120px;
    top: -48px;  */
}

.menu__subopcion--lateral:hover{
    background-color: var(--rojo);
    color: var(--blanco);
}

.menu__subopcion--lateral{
    display: block;
    color: var(--blanco);
    padding: 15px 15px;
    text-decoration: none;
    position: relative;
    left: 120px;
    top: -48px; 
    background-color: var(--negro);
}


/* ---------------------------------------------------------------------------- */
.menu--vertical-azul{
    width: 155px;
    margin: 20px auto;
     height: 225px;
    background-color: var(--color2);
    text-align: center;
    border-radius: var(--esquina_redondeada);
    align-content: center;
}

.menu__barrahorizontal--vertical-azul{
    list-style: none;
    display: block;
}

.menu__barrahorizontal--vertical-azul .menu__opciones--lateral-azul .menu__opcion--vertical-azul{
    display: block;
    padding: 15px 20px;
    color: var(--blanco);
    text-decoration: none;
    
}

.menu__opcion--vertical-azul{
    background-color: var(--color2);
    border-radius: var(--esquina_redondeada);
}

.menu__opcion--vertical-azul:hover{
    background-color: var(--color2);
    border-radius: var(--esquina_redondeada);
}

.menu__opciones--lateral-azul{
    border: solid var(--color2);
    border-radius: var(--esquina_redondeada);
    width: 150px;
    margin: 0 auto;
}

.menu__opciones--lateral-azul:hover{
    border: solid var(--blanco);
    border-radius: var(--esquina_redondeada);
    background-color: var(--color2);
}

.menu__barravertical--lateral-azul{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;

}

.menu__barrahorizontal--vertical-azul .menu__opciones--lateral-azul:hover .menu__barravertical--lateral-azul{
    display: block;
}

.menu__subopcion--lateral-azul:hover{
    background-color: var(--color2);
    color: var(--blanco);
    transition: all 1s;
}

.menu__subopcion--lateral-azul{
    display: block;
    color: var(--color2);
    padding: 15px 15px;
    text-decoration: none;
    position: relative;
    left: 160px;
    top: -48px; 
    background-color: var(--blanco);
    border: solid var(--color2);
    border-radius: var(--esquina_redondeada);
    margin: 1px;
}


/* ----------------------------------------------------------------------------- */

.menu--rosado{
    width: 600px;
    height: 60px;
    margin: 15px auto;
    background-color: var(--color3);
    border-radius: var(--esquina_redondeada);
    background-color: var(--blanco);
    border: solid var(--color3);
    border-radius: var(--esquina_redondeada);    
    align-content: center;
}

.menu__barrahorizontal--rosado{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu__barrahorizontal--rosado .menu__opciones--rosado .menu__opcion--rosado{
    display: block;
    padding: 15px 20px;
    color: var(--color3);
    text-decoration: none;
}

.menu__opciones--rosado:hover{
    border: solid var(--color3);
    border-radius: var(--esquina_redondeada);
    background-color: white;
}

.menu__barravertical--blanco{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
}

.menu__barrahorizontal--rosado .menu__opciones--rosado:hover .menu__barravertical--blanco{
    display: block;
}

.menu__subopcion--blanco:hover{
    background-color: var(--color3);
    color: var(--blanco);
}

.menu__subopcion--blanco{
    display: block;
    color: var(--color3);
    padding: 15px 15px;
    text-decoration: none;
    position: relative;
    top: 10px;
    background-color: var(--blanco);
    border: solid var(--color3);
    border-radius: var(--esquina_redondeada);
    margin: 2px;
}