@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_fondo:aqua;
    --color1:#66D7D1;
    --color2: #55b4e7;
    --color3: #f26ab5;
    --color4: #f5cf54;
    --blanco: white;
    --esquina_redon: 15px;
    --ancho_acordeon: 400px;
    --negro:black;
    --naranja: orange;
    --agua_marina:aquamarine;
    --cafe:brown;
    --tamaño_fuente:15px;
}

.botcomponentes{
    display: flex;
    width: 700px;
    height: 40px;
    margin: 10px auto;
    background-color: var(--blanco);
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    border:solid var(--color4);
    border-radius: var(--esquina_redon);
}

.comp{
    display: block;
    height: 30px;
    width: 150px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: var(--color4);
    border: solid var(--color4);
    border-radius: var(--esquina_redon);
    font-family: "Inter", sans-serif;
}

.comp:hover{
    background-color: var(--color4);
    color: var(--blanco);
}

.comp:active{
    background-color: var(orange);
    color: var(--negro);
}


/* ---------------------------------------------------------------------- */
.acordeon {
    width: var(--ancho_acordeon);
    background-color: var(--agua_marina);
    margin: 20px auto;
    display: block;
    padding: 20px;
    align-content: center;
    
}

.acordeon__contenedor{
    margin: 30px;
    background-color: var(--cafe);
}

.acordeon__titulo{
    padding: 12px;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */

.acordeon--celeste{
    width: var(--ancho_acordeon);
    background-color: var(--color1);
    margin: 20px auto;
    display: block;
    padding: 20px;
    align-content: center;
    border-radius: var(--esquina_redon);
}

.acordeon__contenedor--blanco{
    margin: 30px;
    background-color: var(--blanco);
}

.acordeon__titulo--fuenteexo2{
    padding: 12px;
    cursor: pointer;
    margin-bottom: 2px;
    font-family: "Exo 2", sans-ser;
}

.acordeon__parrafo--centrado{
    background-color: var(--blanco);
    text-align: center;
    font-size: var(--tamaño_fuente);
    padding: 5px;
}

/* -------------------------------------------------------------------------- */

.acordeon--azul{
    width: var(--ancho_acordeon);
    background-color: var(--color2);
    margin: 20px auto;
    display: block;
    padding: 20px;
    align-content: center;
    font-family: "Exo 2", sans-serif;
    border-radius: var(--esquina_redon);
}

.acordeon__contenedor--blanco-redondeado{
    margin: 30px;
    border-radius: var(--esquina_redon);
    background-color: var(--blanco);
}

.acordeon__titulo--centrado{
    padding: 12px;
    cursor: pointer;
    list-style: none;
    text-align: center;
}

.acordeon__parrafo--centrado-fuenteexo2{
    text-align: center;
    font-size: var(--tamaño_fuente);
}

/* -------------------------------------------------------------------------------- */

.acordeon--rosado{
    width: var(--ancho_acordeon);
    background-color: var(--color3);
    margin: 20px auto;
    display: block;
    padding: 20px;
    align-content: center;
    font-family: "Exo 2", sans-serif;
    border-radius: var(--esquina_redon);
}

.acordeon__contenedor--rosado{
    margin: 30px;
    background-color: var(--color3);
}

.acordeon__titulo--rosado{
    padding: 12px;
    cursor: pointer;
    border-radius: var(--esquina_redon);
    border: solid 1px var(--negro);
    background-color: var(--blanco);
}

.acordeon__titulo--rosado:hover{
    background-color: var(--color3);
    transition: all 1s;
    color: var(--blanco);

}
.acordeon__parrafo--rosado{
    margin-top: 3px;
    border-radius: var(--esquina_redon);
    border: solid 1px var(--negro);
    text-align: center;
    font-size: var(--tamaño_fuente);
    color: var(--blanco);
    padding: 5px;
    background-color: var(--color3);
}

