@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_fondo:aqua;
    --color1:#66D7D1;
    --color2: #55b4e7;
    --color3: #f26ab5;
    --color4: #f5cf54;
    --blanco:white;
    --naranja:orange;
    --negro:black;
    --esquina_redondeada:15px;
}


.botcomponentes{
    display: flex;
    width: 700px;
    height: 40px;
    margin: 10px auto;
    background-color: var(--blanco);
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    border:solid var(--color4);
    border-radius: var(--esquina_redondeada);
}

.comp{
    display: block;
    height: 30px;
    width: 150px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: var(--color4);
    border: solid var(--color4);
    border-radius: var(--esquina_redondeada);
    font-family: "Inter", sans-serif;
}

.comp:hover{
    background-color: var(--color4);
    color: var(--blanco);
}

.comp:active{
    background-color: var(--naranja);
    color: var(--negro);
}


/* --------------------------------------------------------------- */

.botones{
    display: flex;
    width: 400px;
    height: 30px;
    background-color: var(--color1);
    justify-content: space-around;
    margin: 10px auto;
    border-radius: var(--esquina_redondeada);
}

.botones__grupo{
    background-color: var(--color1);
    border: none;
    width: 100px;
}

.botones__grupo:hover{
    background-color: rgb(170, 218, 230);
    color: var(--negro);
    border-radius: var(--esquina_redondeada);
}

/* --------------------------------------------------------------- */

.botonrad{
    display: block;
    width: 200px;
    margin: 10px auto;
    height: 200px;
    align-content: center;
    text-align: center;
}

.botonrad__boton,
.botonrad__boton--boton2,
.botonrad__boton--boton3
{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}


.botonrad__texto{
    display: inline-flex;
    width: 100px;
    height: 50px;
    background-color: var(--blanco);
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    border: solid var(--color2);
    color: var(--color2);
}
.botonrad__texto:first-of-type{
    border-bottom: none;
    border-radius: var(--esquina_redondeada) var(--esquina_redondeada) 0 0;
}

.botonrad__texto:last-of-type{
    border-top: none;
    border-radius: 0 0 var(--esquina_redondeada) var(--esquina_redondeada);
}

.botonrad__boton:checked + .botonrad__texto,
.botonrad__boton--boton2:checked + .botonrad__texto,
.botonrad__boton--boton3:checked + .botonrad__texto{
    background-color: var(--color2);
    color: var(--blanco);
    transition:all 1s;
}

/* --------------------------------------------------------------- */

.botones--rosadosborde{
    display: flex;
    width: 400px;
    height: 35px;
    justify-content: space-around;
    margin: 10px auto;
    border-radius: var(--esquina_redondeada);
    align-items: center;
    border: solid var(--color3);
    background-color: var(--blanco);
}

.botones__grupo--bordes{
    background-color: var(--blanco);
    width: 100px;
    height: 25px;
    border: solid var(--blanco);
    border-radius: var(--esquina_redondeada);
}

.botones__grupo--bordes:hover{
    border: solid var(--color3);
    border-radius: var(--esquina_redondeada);
    transition: all 0.5s;
}

.botones__grupo--bordes:active{
    border: solid var(--color3);
    border-radius: var(--esquina_redondeada);
    background-color: var(--color3);
    color: var(--blanco);
}

/* --------------------------------------------------------------- */

.botonrad--amarillo{
    display: block;
    width: 350px;
    margin: 10px auto;
    height: 80px;
    align-content: center;
    text-align: center;
    border: solid var(--color4);
    border-radius: var(--esquina_redondeada);
}

.botonrad__boton--amarillo,
.botonrad__boton--boton2-amarillo,
.botonrad__boton--boton3-amarillo{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;

}


.botonrad--amarillo label{
    display: inline-flex;
    width: 100px;
    height: 50px;
    background-color: var(--blanco);
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    border: solid var(--color4);
    color: var(--color4);
    border-radius: var(--esquina_redondeada);
}

.botonrad__boton--amarillo:checked + label,
.botonrad__boton--boton2-amarillo:checked + label,
.botonrad__boton--boton3-amarillo:checked + label{
    background-color: var(--color4);
    color: var(--blanco);
    transition:all 1s;
}