@import url(estilos_grupobo/grupo1_botones.css);
@import url(estilos_grupobo/grupo2_botones.css);
@import url(estilos_grupobo/grupo3_botones.css);
@import url(estilos_grupobo/grupo4_botones.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_fondo:aqua;
    --color1:#66D7D1;
    --color2: #55b4e7;
    --color3: #f26ab5;
    --color4: #f5cf54;
}