
.botones{
    display: flex;
    width: 400px;
    height: 30px;
    background-color: var(--color1);
    justify-content: space-around;
    margin: 10px auto;
    border-radius: 15px;
}

.botones__grupo{
    background-color: var(--color1);
    border: none;
    width: 100px;
}

.botones__grupo:hover{
    background-color: rgb(170, 218, 230);
    color: black;
    border-radius: 15px;
}