.grupo3__botones{
    display: flex;
    width: 400px;
    height: 35px;
    justify-content: space-around;
    margin: 10px auto;
    border-radius: 15px;
    align-items: center;
    border: solid var(--color3);
}

.boton3{
    background-color: white;
    width: 100px;
    height: 25px;
    border: solid white;
    border-radius: 15px;
}

.boton3:hover{
    border: solid var(--color3);
    border-radius: 15px;
    transition: all 0.5s;
}

.boton3:active{
    border: solid var(--color3);
    border-radius: 15px;
    background-color: var(--color3);
    color: white;
}