.botonrad{
    display: block;
    width: 200px;
    margin: 10px auto;
    height: 200px;
    align-content: center;
    text-align: center;
}

.botonrad__grupo,
.botonrad__grupo--opcion2,
.botonrad__grupo--opcion3
{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}


.botonrad__grupo--borde{
    display: inline-flex;
    width: 100px;
    height: 50px;
    background-color: white;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    border: solid var(--color2);
    color: var(--color2);
}
.botonrad__grupo--borde:first-of-type{
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
}

.botonrad__grupo--borde:last-of-type{
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.botonrad__grupo:checked + .botonrad__grupo--borde,
.botonrad__grupo--opcion2:checked + .botonrad__grupo--borde,
.botonrad__grupo--opcion3:checked + .botonrad__grupo--borde{
    background-color: var(--color2);
    color: white;
    transition:all 1s;
}