.acordeones4{
    width: 400px;
    background-color: var(--color4);
    margin: 20px auto;
    display: block;
    padding: 20px;
    align-content: center;
    font-family: "Exo 2", sans-serif;
    border-radius: 20px;
}

.ac4{
    margin: 30px;
}


.acordeones4__titulo{
    background-color: #fff;
    padding: 12px;
    cursor: pointer;
    border-radius: 15px;
}
.acordeones4__titulo:hover{
    text-align: center;
    list-style: none;
    transition: all 1s;
}

.acordeones4__contenido{
    margin-top: 5px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}