.acordeones3{
    width: 400px;
    background-color: var(--color3);
    margin: 20px auto;
    display: block;
    padding: 20px;
    align-content: center;
    font-family: "Exo 2", sans-serif;
    border-radius: 20px;
}

.ac3{
    margin: 30px;
}
.ac3:active{
    transition: all 1s;
}

.acordeones3__titulo{
    background-color: #fff;
    padding: 12px;
    cursor: pointer;
    border-radius: 15px;
    border: solid 1px black;
}

.acordeones3__titulo:hover{
    background-color: var(--color3);
    transition: all 1s;
    color: #fff;

}
.acordeones3__contenido{
    margin-top: 3px;
    border-radius: 15px 15px 15px 15px;
    border: solid 1px black;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 5px;
}