.nav4{
    width: 600px;
    height: 60px;
    margin: 15px auto;
    background-color: var(--color3);
    border-radius: 15px;
    background-color: white;
    border: solid var(--color3);
    border-radius: 15px;    
    align-content: center;
}

.barra_horizontal4{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.barra_horizontal4 .opciones4 .op4{
    display: block;
    padding: 15px 20px;
    color: var(--color3);
    text-decoration: none;
}

.opciones4:hover{
    border: solid var(--color3);
    border-radius: 15px;
}

.barra__vertical4{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
}

.barra_horizontal4 .opciones4:hover .barra__vertical4{
    display: block;
}

.subo4:hover{
    background-color: var(--color3);
    color: white;
}

.subo4{
    display: block;
    color: var(--color3);
    padding: 15px 15px;
    text-decoration: none;
    position: relative;
    top: 10px;
    background-color: white;
    border: solid var(--color3);
    border-radius: 15px;
    margin: 2px;
}