.nav3{
    width: 155px;
    margin: 20px auto;
     height: 225px;
    background-color: var(--color2);
    text-align: center;
    border-radius: 15px;
    align-content: center;
}

.barra_vertical3{
    list-style: none;
    display: flexbox;
    justify-content: space-around;
}

.barra_vertical3 .opciones3 .op3{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    
}

.opciones3{
    border: solid var(--color2);
    border-radius: 15px;
    width: 150px;
    margin: 0 auto;
}

.opciones3:hover{
    border: solid white;
    border-radius: 15px;
}

.barra__horizontal3{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;

}

.barra_vertical3 .opciones3:hover .barra__horizontal3{
    display: block;
}

.subo3:hover{
    background-color: var(--color2);
    color: white;
    transition: all 1s;
}

.subo3{
    display: block;
    color: var(--color2);
    padding: 15px 15px;
    text-decoration: none;
    position: relative;
    left: 160px;
    top: -48px; 
    background-color: white;
    border: solid var(--color2);
    border-radius: 15px;
    margin: 1px;
}