.alerta2{
    display: block;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: #032830;
    color: #087990;
    border-left: solid 4px #087990;
    font-family: "Hind Siliguri", sans-serif;

}