.alerta4{
    display: flex;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: solid black;
    justify-content:space-around;
    align-items: center;
    background-color: #332701;
    border: solid #997404;
    color: #997404;
    font-family: "Hind Siliguri", sans-serif;
    border-radius: 5px;
}

span{
    margin-right: 10px;
}